on:
  release:
    types: [published]
    
jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 15
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Verify commit exists in origin/master
      run: git branch --remote --contains | grep origin/master
    - name: Print version
      run: echo ${{ github.event.release.tag_name }}
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - uses: thesn10/setup-ffmpeg@v0.1.0
      id: setup-ffmpeg
      with:
        ffmpeg-version: release
        linking-type: shared
    - name: Print ffmpeg path
      env:
        TG_FFMPEG_ROOT_PATH: ${{ steps.setup-ffmpeg.outputs.ffmpeg-path }}
      run: dir $env:TG_FFMPEG_ROOT_PATH
    - name: Build
      run: dotnet build --configuration Release /p:Version=${{ github.event.release.tag_name }}
    - name: Test
      env:
        TG_FFMPEG_ROOT_PATH: ${{ steps.setup-ffmpeg.outputs.ffmpeg-path }}
      run: dotnet test --configuration Release /p:Version=${{ github.event.release.tag_name }} --no-build
    - name: Pack
      run: dotnet pack --configuration Release /p:Version=${{ github.event.release.tag_name }} --no-build --output .
    - name: Push ThumbGen to Github
      run: dotnet nuget push ThumbGen.${{ github.event.release.tag_name }}.nupkg --source https://nuget.pkg.github.com/thesn10/index.json --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
    - name: Push ThumbGen.Magick to Github
      run: dotnet nuget push ThumbGen.Magick.${{ github.event.release.tag_name }}.nupkg --source https://nuget.pkg.github.com/thesn10/index.json --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
    - name: Push ThumbGen to Nuget
      run: dotnet nuget push ThumbGen.${{ github.event.release.tag_name }}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate
    - name: Push ThumbGen.Magick to Nuget
      run: dotnet nuget push ThumbGen.Magick.${{ github.event.release.tag_name }}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate
